<form class="formClass" #updateForm="ngForm" (ngSubmit)="handleOnSubmit(updateForm)">
  <h1>User Details</h1>

  <!-- NAME -->
  <label for="name">Name</label>
  <input [disabled]="!enable" type="text" id="name" placeholder="Ex. John Smith" [(ngModel)]="formData.name" name="name"
    required minlength="3" #name="ngModel" />
  <div *ngIf="name.invalid && name.touched">
    <small *ngIf="name.errors?.['required']">Name is required</small>
    <small *ngIf="name.errors?.['minlength']">Minimum 3 characters</small>
  </div>

  <!-- CITY -->
  <label for="city">City</label>
  <input [disabled]="!enable" type="text" id="city" placeholder="Ex. New York" [(ngModel)]="formData.city" name="city"
    required #city="ngModel" />
  <div *ngIf="city.invalid && city.touched">
    <small>City is required</small>
  </div>

  <!-- QUALIFICATION -->
  <label for="qualification">Qualification</label>
  <input [disabled]="!enable" type="text" id="qualification" placeholder="Ex. MCA" [(ngModel)]="formData.qualification"
    name="qualification" required #qualification="ngModel" />
  <div *ngIf="qualification.invalid && qualification.touched">
    <small>Qualification is required</small>
  </div>

  <!-- EMAIL -->
  <label for="email">Email</label>
  <input [disabled]="!enable" type="email" id="email" placeholder="Ex.john@mail.com" [(ngModel)]="formData.email"
    name="email" required email #email="ngModel" />
  <div *ngIf="email.invalid && email.touched">
    <small *ngIf="email.errors?.['required']">Email is required</small>
    <small *ngIf="email.errors?.['email']">Invalid email format</small>
  </div>
  <div class="buttonsClass">
    <button type="button" (click)="enableUpdate()">{{ !enable ? 'Enable Edit' : 'Disable Edit' }}</button>
    <!-- SUBMIT -->
    <button type="submit" [disabled]="updateForm.invalid">
      Update
    </button>
  </div>

</form>